$('#modalProducts').modal('toggle')

$('#product_<%= @product.id %>').replaceWith(
  `
  <tr id="product_<%= @product.id %>" >
      <td><%= image_tag(@product.image, size: "50x50", class: "rounded-circle") %></td>
      <td><%= @product.name %></td>
      <td><%= @product.stock %></td>
      <td>$<%= @product.price %></td>
      <td><%= @product.category != nil ? @product.category.name : "No tiene categoria" %></td>
      <td><%= @product.supplier != nil ? @product.supplier.name : "No tiene proveedor" %></td>
      <td>
      <%= link_to "editar", edit_product_path(@product), html_options = {class: "btn btn-info btn-xs", remote: true} %>
      <%= link_to "Borrar", @product, remote: true, method: :delete, data: { confirm: "¿Borrar product: #{@product.name}?"}, class: "btn btn-danger btn-xs" %>
      </td>
  </tr>
`
)